<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="TemplateMo">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">

<title>Ourd Business - Services</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="assets/css/fontawesome.css">
<link rel="stylesheet" href="assets/css/templatemo-finance-business.css">
<link rel="stylesheet" href="assets/css/owl.css">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
</head>

<body>

	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div class="jumper">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	<!-- Header -->


	  <header class="">
      <nav class="navbar navbar-expand-lg">
         <div class="container">
            <a class="navbar-brand" href="home"><h2>OURD
                  Business</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
               data-target="#navbarResponsive" aria-controls="navbarResponsive"
               aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active"><a class="nav-link" href="home">Home
                        <span class="sr-only">(current)</span>
                  </a></li>
                  <li class="nav-item"><a class="nav-link" href="/chat/room" 
                  onclick="window.open(this.href, '_blank', 'width=460px,height=420px,left=2000%, top=500px,toolbars=no,scrollbars=no'); return false;">
                        Chat</a></li>
                  <li class="nav-item"><a class="nav-link"
                     href="login">Sign Up</a></li>
                  <li class="nav-item"><a class="nav-link" href="board">Board
                        </a></li>
               </ul>
            </div>
         </div>
      </nav>
   </header>

	<!-- Page Content -->
	<div class="page-heading header-text">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>>LOGIN PAGE</h1>
					<span>WITH. OURD</span>
				</div>
			</div>
		</div>
	</div>

	<div class="single-services">
		<div class="container">
			<div class="row" id="tabs">
				<div class="col-md-4">
					<form action="/loginProc" method="post">
						<input type="text" name="username" placeholder="Username" /><br />
						<input type="password" name="password" placeholder="Password" /><br />
						<button>로그인</button>
					</form>
					<br />

					<h1>Social Login</h1>
					<br />
					<!-- javascript:; 는 클릭해도 반응을 없게 하는 키워드 -->
					<a href="/oauth2/authorization/google"> <img
						src="https://pngimage.net/wp-content/uploads/2018/06/google-login-button-png-1.png"
						alt="google" width="357px" height="117px">
					</a> <br /> <a href="/oauth2/authorization/facebook"> <img
						src="https://pngimage.net/wp-content/uploads/2018/06/login-with-facebook-button-png-transparent-1.png"
						alt="facebook" width="357px" height="117px">
					</a> <br /> <a href="/oauth2/authorization/naver"> <img
						src="https://blogfiles.pstatic.net/MjAyMDA4MDRfMzMg/MDAxNTk2NTEyOTY4MDMx.vhXHCulffijGUnvlaBR2jW4__Lkz8R3ZTaEDcTeNV2gg.Wt_HNl_zktUJUMrYGkVmqJ-PhxKv_s4A7gG1uPKMZaQg.PNG.getinthere/naver_button.png"
						alt="naver" width="357px" height="50px">
						
						
						
					</a> <br /> <a href="/join">회원가입을 아직 하지 않으셨나요?</a>
				</div>
			</div>
		</div>
	</div>

	<div class="partners">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-partners owl-carousel">
						<div class="partner-item">
							<img src="assets/images/client-01.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer Starts Here -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3 footer-item">
					<h4>OurD 소개</h4>
					<p><strong>Our Dream</strong>
					<br>
						우리들의 꿈이 이루어지는  <br>
						그날까지 함께하겠습니다. <br>
						We will be together until our dreams come true.<br>
						ABOUT OurD</p>
						<!-- 
					<ul class="social-icons">
						<li><a rel="nofollow" href="https://fb.com/templatemo"
							target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-behance"></i></a></li>
					</ul>
					 -->
				</div>
				<div class="col-md-3 footer-item">
					<h4>고객 센터</h4> 
						<p>
						(주)Our Dream | 서울 강남구 테헤란로 <br>
						고객센터 전화문의 | 010-0000-0000 <br>
						FAX | 02-0000-0000  <br>
						E-mail ourD@naver.com <br>
						</p>
				</div>
				<div class="col-md-3 footer-item">
					<h4>Additional Pages</h4>
					<ul class="menu-list">
						<li><a href="#">About Us 회사소개 바로가기</a></li>
						<li><a href="#">포트폴리오 등록하는 곳 바로가기</a></li>
						<li><a href="#">팁 게시판 바로가기</a></li>
						<li><a href="#">~ 바로가기</a></li>
						<li><a href="#">~ 바로가기</a></li>
					</ul>
				</div>


				<!-- 채팅방 자바스크립트 -->
				
				<script type="text/javascript">
					$(function(){
						
						// 채팅방 바로가기
						/*
						$("#ChatGo").on('click', function(){
							console.log('click');
							window.open("/chat/room","room.html","width=400, height=300");
						}); 
						*/
				</script>
				

				<div class="col-md-3 footer-item last-item">
					<h4>채팅방 바로가기</h4>
					<div class="contact-form">

								<div class="col-lg-12">
								<a href="/chat/room" onclick="window.open(this.href, '_blank', 'width=460px,height=420px,left=2000%, top=500px,toolbars=no,scrollbars=no'); return false;">
								<!-- 
									<a href="/chat/room" target='_blank'> -->
										<fieldset>
												<button value="채팅방으로이동" type="submit" id="ChatGo" class="filled-button">채팅방 바로가기</button>
										</fieldset>
									<!-- </a> -->
								</a>
								</div>
							</div>

					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>
						Copyright &copy; Ourd Corp. All Right Reserved. <a rel="nofollow noopener" href="http://localhost:9091/login" target="_blank"></a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/accordions.js"></script>


</body>
</html>